<?xml version="1.0" encoding="UTF-8"?>
<!-- spring boot默认会加载classpath:logback-spring.xml -->
<configuration>

	<!-- 文件输出格式 -->
	<property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
	<!-- 文件路径 -->
	<property name="FILE_PATH" value="/home/resources/logs" />

	<!-- 开发环境 -->
	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>
		
		<!-- 按照每天生成日志文件 -->
		<appender name="error"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<!-- 过滤器，只记录ERROR级别的日志 -->
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>ERROR</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
			<!-- 文件路径 -->
			<file>${FILE_PATH}/error/error.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${FILE_PATH}/error/ud_consumer_error.log.%d{yyyy-MM-dd}.log</fileNamePattern>
				<MaxHistory>30</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
			<!--日志文件最大的大小 -->
			<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>
		</appender>
		
		<!-- 按照每天生成日志文件 -->
		<appender name="warn"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<!-- 过滤器，只记录ERROR级别的日志 -->
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>warn</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
			<!-- 文件路径 -->
			<file>${FILE_PATH}/warn/warn.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${FILE_PATH}/warn/ud_consumer_warn.log.%d{yyyy-MM-dd}.log</fileNamePattern>
				<MaxHistory>30</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
			<!--日志文件最大的大小 -->
			<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>
		</appender>
		
		<!-- 按照每天生成日志文件 -->
		<appender name="info"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>info</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
			<!-- 文件路径 -->
			<file>${FILE_PATH}/info/info.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${FILE_PATH}/info/ud_consumer_info.log.%d{yyyy-MM-dd}.log</fileNamePattern>
				<MaxHistory>30</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
			<!--日志文件最大的大小 -->
			<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>
		</appender>
		
		<logger name="com.union" level="error"/>

		<root level="error">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="error" />
			<appender-ref ref="warn" />
			<appender-ref ref="info" />
		</root>
	</springProfile>
</configuration>
